{% extends 'base.html' %}
{% load catalog_extras %}

{% block title %}{{ category.name }} — MegaGame{% endblock %}

{% block content %}
<h2 class="section-header">Na categoria "{{ category.name }}"</h2>
<div class="product-grid">
    {% for prod in produtos %}
        <a href="{% url 'product_detail' prod.pk %}" class="product-card">
            {% if prod.images.all %}
                <img class="product-card-img" src="{{ prod.images.first.image.url }}" alt="{{ prod.title }}">
            {% else %}
                <div class="product-card-img-placeholder">Sem foto</div>
            {% endif %}
            <div class="product-card-body">
                <div class="product-card-title">{{ prod.title }}</div>
                <div class="product-card-price">a partir de R$ {{ prod.base_price|brl }}</div>
                <div class="product-card-meta">{{ prod.seller.profile.city }}, {{ prod.seller.profile.uf }} · {{ prod.seller.username }}</div>
            </div>
        </a>
    {% empty %}
        <p style="color:var(--gray-500);"">Nenhum produto nesta categoria ainda</p>
    {% endfor %}
</div>
{% endblock %}